eval "$(lorri direnv)"

export PATH=/home/robin/.cargo/bin:$PATH:./target/debug/

mkdir -p .vim

RA_PATH=$(readlink -e $(which rust-analyzer))

echo "{ \"rust-analyzer.enable\": true, \"rust-analyzer.server.path\": \"$RA_PATH\" }" > .vim/coc-settings.jsonj


